@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"Vazir";
    src: url("../public/fonts/Vazir.woff") format("woff");
  }

  @layer utilities {
    .flex-row-center{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .flex-col-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    .vazir{
        font-family:"Vazir";
      }
      .vazir-bold{
        font-family:"Vazir";
        font-weight: bold;
      }
      .direction{
        direction: rtl;
      }
  }

